.header {
    grid-area: h;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

.header img {
    width: 50px;
}

.logo {
    color: #73c4ff;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

.loginBlock  {
    color: #4091cc;
    font-weight: 500;
}

.loginBlock a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.logoutBtn {
    background-color: #73c4ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}