.nav {
    grid-area: n;
    background-color: #fff;
    border-radius: 10px;
}

.item {
    list-style-type: none;
    margin: 0 10px 10px 0;
}

.item a {
    color: #777d74;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.item a:hover {
    color: #306d99;
    font-size: 17px;
}

.item a.activeLink {
    color: #4091cc;
    background-color: #eef8ff;
    padding: 5px 30px 5px 5px;
    border-radius: 5px;
}

.icon {
    width: 20px;
}

.item span {
    padding-left: 10px;
}