.nav {
    grid-area: n;
    background-color: lightsalmon;
}

.nav li {
    list-style-type: none;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: brown;
}