.app-wrapper {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    background-color: #eef8ff;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #fff;
    border-radius: 10px;
}

