.app-wrapper {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    background-color: #f8f9fa;
    font-family: 'DM Sans', sans-serif;
}

.app-wrapper-content {
    grid-area: c;
}

